/*
** Base
** -----------------------------------------------------------------------------
*/

body {
  font-size: 16px;
  line-height: 1.50;
  color: #fff;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
** Menu
** -----------------------------------------------------------------------------
*/

#menu {
  width: 100%;
  height: 666px;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(0, 0, 0, 0.42), rgba(0, 0, 0, 0.42)), url("../images/menu-bg.jpg");
}

#menu h2 {
  color: #fff;
  font-size: 42px;
  font-family: 'Satisfy', sans-serif;
}

#menu p {
  color: #222;
  font-size: 32px;
  font-family: 'PT Sans', sans-serif;
}

.btn {
  color: #fff;
  background-color: #01babc;
}

.logo {
  width: 420px;
  height: auto;
}
