/*
** Base
** -----------------------------------------------------------------------------
*/

body {
  font-size: 16px;
  line-height: 1.50;
  color: #fff;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1 {
  font-family: 2em 'Montserrat', sans-serif;
  font-size: 72px;
}

/*
** Banner and Header
** -----------------------------------------------------------------------------
*/

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}
.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px !important;
    margin-left: 50px;
}

#menu {
  width: 100%;
  height: 666px;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: radial-gradient(rgba(0, 0, 0, 0.42), rgba(0, 0, 0, 0.42)),
                    url("../images/menu-bg.jpg");
}

#menu h2 {
  color: #fff;
  font-size: 42px;
  font-family: 'Satisfy', sans-serif;
}

#menu p {
  color: #222;
  font-size: 32px;
  font-family: 'PT Sans', sans-serif;
}

.btn {
  color: #fff;
  background-color: #01babc;
}

.logo {
  width: 85%;
  height: auto;
  margin-top: 21px;
}
