/*
** Base
** -----------------------------------------------------------------------------
*/

body {
  font-size: 16px;
  line-height: 1.50;
  color: #fff;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
h1 {
  font-family: 'Satisfy', sans-serif;
  font-size: 72px;
  padding-top: 21px;
}

/*
** Header + NavMenu
** -----------------------------------------------------------------------------
*/

#header {
  background-color: #333;
  border-bottom: 2px solid #01babc;
  position: sticky;
  position: -webkit-sticky; /* Safari */
  height: 88px;
  z-index: 42;
}
#header h1 {
  position: relative;
  font-size: 42px;
  float: left;
}
.menu-bars-icon {
  color: #eee;
  font-size: 42px;
  margin-right: 36px;
  margin-top: 12px;
}
.header-icon {
  float: left;
  margin-left: 24px;
}
.sidenav {
  font-family: 'PT Sans', sans-serif;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover,
.offcanvas a:focus {
  color: #f1f1f1;
}
.closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px !important;
  margin-left: 50px;
}
.logout {
  margin-top: 16px;
  font-size: 36px;
}

/*
** Upcoming Meal section
** -----------------------------------------------------------------------------
*/

#upcoming {
  position: sticky;
  position: -webkit-sticky; /* Safari */
  font-family: 'PT Sans', sans-serif;
}

@media (max-width: 768px) {
  #upcoming span {
    display: block;
    text-align: center;
  }
}

/*
** Banner section
** -----------------------------------------------------------------------------
*/

#banner {
  width: 100%;
  min-height: 520px;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: radial-gradient(rgba(0, 0, 0, 0.42), rgba(0, 0, 0, 0.42)),
                                    url("../images/menu-bg.jpg");
}
.btn {
  color: #eee;
  background-color: #01babc;
  width: 242px;
  border-radius: 42px;
  text-align: center;
}
.btn:hover {
  color: #ddd;
  background-color: #80dcdd;
}
.logo {
  width: 242px;
  height: auto;
  margin-top: 42px;
}

/*
** Carte (food menu) section
** -----------------------------------------------------------------------------
*/

#carte {
  margin-top: 21px;
}
#carte h2 {
  color: #01babc;
  font-size: 48px;
  font-family: 'Satisfy', sans-serif;
  font-weight: 300;
}
#carte p {
  color: #666;
  font-size: 16px;
  font-family: 'PT Sans', sans-serif;
  font-style: italic;
}
#menu-filters ul li a.active {
  background: #01babc;
  color: #fff;
  border: 1px solid #01babc;
}
#menu-flters ul li a:hover {
  background: #99e3e4;
  color: #fff;
  border: 1px solid #01babc;
}
#menu-filters ul li {
  display: inline-block;
  color: #fff;
  text-transform: capitalize;
  letter-spacing: 1px;
  margin-bottom: 40px;
}
#menu-filters ul li a {
  padding: 10px 20px;
  font-size: 14px;
  color: #01babc;
  border-radius: 0px;
  border: 1px solid #01babc;
  text-decoration: none;
  cursor: pointer;
}
.menu-item {
  width: 100%;
  float: left;
  padding: 15px;
  position: relative;
}
.menu-item .menu-title {
  float: left;
  font-family: Montserrat, arial;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #222;
}
.menu-item .menu-line {
  position: absolute;
  bottom: 6px;
  border-bottom: 1px dotted rgba(0, 0, 0, .3);
  margin-left: .6rem;
  margin-right: .6rem;
  left: 360px;
  right: 24px
}
.menu-item .menu-price {
  font-weight: 500;
  position: absolute;
  right: 0;
  top: 0;
  color: #006f70;
}
.menu-item .menu-subtitle {
  display: block;
  float: left;
  color: #666;
  font-family: Satisfy, 'Open Sans', arial;
  font-size: 1.2rem;
}
.menu-item span.clearfix {
  position: relative;
  display: block;
}

@media (max-width: 768px) {
  .menu-item .menu-title {
    font-family: Montserrat, arial;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #222;
    position: static;
    float: left;
  }
  .menu-item .menu-line {
    position: static;
    bottom: 6px;
    border-bottom: 1px dotted rgba(0, 0, 0, .3);
    margin-left: .6rem;
    margin-right: .6rem;
    left: 360px;
    right: 24px;
  }
  .menu-item .menu-price {
    font-weight: 500;
    position: static;
    right: 0;
    top: 0;
    color: #006f70;
    display: block;
    text-align: left;
  }
  .menu-item .menu-subtitle {
    position: static;
    color: #666;
    font-family: Satisfy, 'Open Sans', arial;
    font-size: 1.2rem;
    float: left;
  }
}

/*
** Slideshow section
** -----------------------------------------------------------------------------
*/

#slideshow {
  margin: 50px auto;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: block;
}

/*
** Rules section
** -----------------------------------------------------------------------------
*/

#rules {
  margin-top: 21px;
}
#rules h2 {
  color: #01babc;
  font-size: 48px;
  font-family: 'Satisfy', sans-serif;
  font-weight: 300;
}
#rules p {
  color: #666;
  font-size: 16px;
  font-family: 'PT Sans', sans-serif;
  font-style: italic;
}
.rules-item {
  position: relative;
  width: 100%;
  max-width: 300px;
}
.rules-item img {
  display: block;
  width: 100%;
  height: auto;
}
.rules-item h3 {
  position: absolute;
  bottom: 0;
  background: #222;
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity: 0.9;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}
.rules-item:hover .overlay {
  opacity: 0;
}

/*
** Modal
** -----------------------------------------------------------------------------
*/

.modal-content {
  color: #222;
}
.modal-header {
  color: #f9f9f9;
  background-color: #01BABC;
}
.modal-header button span {
  color: #fff;
}
.modal-body img {
  width: 200px;
  height: auto;
}

/*
** FAQ section
** -----------------------------------------------------------------------------
*/

#faq {
  margin-top: 21px;
}
#faq h2 {
  color: #01babc;
  font-size: 48px;
  font-family: 'Satisfy', sans-serif;
  font-weight: 300;
}
#faq p {
  color: #666;
  font-size: 16px;
  font-family: 'PT Sans', sans-serif;
  font-style: italic;
}
.faq-item {
  color: #666;
  font-size: 20px;
  font-family: 'PT Sans', sans-serif;
}
.faq-icon {
  color: #01babc;
  font-size: 18px;
  margin-right: 12px;
}
.dropdown {
  position: relative;
  display: inline-block;
  color: #666;
  text-align: center;
  margin-top: 32px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}
.dropdown:hover .dropdown-content {
  display: block;
}

/*
** Dashboard
** -----------------------------------------------------------------------------
*/

#dashboard {
  display: none;
}

/*
** Balance section
** -----------------------------------------------------------------------------
*/

#balance {
  border-color: #999;
  border-style: dashed;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-width: thin;
  display: block;
  margin-top: 12px;
}
#balance h3{
  color: #666;
  font-family: 'PT Sans', sans-serif;
}
.balance-title {
  text-align: left;
  font-family: 'PT Sans', sans-serif;
}
.balance-dollar {
  color: #333;
  text-align: left;
  font-family: 'PT Sans', sans-serif;
}
.balance-nigiri {
  color: #333;
  text-align: left;
  font-family: 'PT Sans', sans-serif;
}
/* .balance-dollar i {
  color: #;
}
.balance-nigiri i {
  color: #;
} */

@media (max-width: 768px) {
  .balance-title {
    text-align: center;
  }
  .balance-dollar {
    text-align: center;
  }
  .balance-nigiri {
    text-align: center;
  }
}

/*
** Add Credit section
** -----------------------------------------------------------------------------
*/

#credit {
  display: none;
}
#credit:target {
  display: block;
}
#credit h2 {
  color: #01babc;
  font-size: 36px;
  font-family: 'Satisfy', sans-serif;
  font-weight: 300;
  margin-top: 12px;
}
.card-wrapper {
  margin-top: 12px;
  position: relative;
}
.card-form {
  position: relative;
}
.card-form input {
  font-family: 'PT Sans', sans-serif;
  margin: 1px 0px;
  padding-left: 3%;
}
.card-form input[type="text"]{
  display: block;
  font-family: 'PT Sans', sans-serif;
  height: 50px;
  width: 97%;
  border: none;
}
.card-form input[type="submit"]{
  display: block;
  font-family: 'PT Sans', sans-serif;
  height: 60px;
  width: 100%;
  border: none;
  background-color: #01babc;
  color: #eee;
  margin-top: 2px;
  cursor: pointer;
  font-size: 0.9em;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}
.card-form input[type="submit"]:hover{
  background-color: #99e3e4;
  font-family: 'PT Sans', sans-serif;
  transition: 0.3s ease;
}
#column-left {
  width: 46.8%;
  float: left;
  margin-bottom: 2px;
}
#column-right {
  width: 46.8%;
  float: right;
}

/*
** Payment History section
** -----------------------------------------------------------------------------
*/

#payment {
  display: none;
}
#payment:target {
  display: block;
}
#payment h2 {
  color: #01babc;
  font-size: 36px;
  font-family: 'Satisfy', sans-serif;
  font-weight: 300;
  margin-top: 12px;
}
.payment-table {
  margin-top: 12px;
  color: #666;
  width: 100%;
  font-family: 'PT Sans', sans-serif;
}

/*
** Eaten Meals section
** -----------------------------------------------------------------------------
*/

#meals {
  display: none;
}
#meals:target {
  display: block;
}
#meals h2 {
  color: #01babc;
  font-size: 36px;
  font-family: 'Satisfy', sans-serif;
  font-weight: 300;
  margin-top: 12px;
}
.meals-table {
  margin-top: 12px;
  color: #666;
  width: 100%
  font-family: 'PT Sans', sans-serif;
}

/*
** Footer section
** -----------------------------------------------------------------------------
*/

#footer {
  margin-top: 50px;
}
.footer {
  width: 100%;
  background-color: #222;
  position: relative;
}
.footer a {
  color: #eee;
}
.footer .footer-top {
  padding-top: 9rem;
  padding-bottom: 5rem;
}
.footer .widget-title,
.footer .widget-title a {
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  color: #999;
}
.footer .widget-title {
  margin-bottom: -10px;
  font-family: 'Satisfy', sans-serif;
  font-size: 42px;
  color: #eee;
}
.footer .widget a {
  text-decoration: none;
  color: #eee;
}
.footer .widget a:hover {
  text-decoration: none;
  color: #80dcdd;
}
.footer .widget,
.footer address {
  color: #999;
  text-transform: none;
  font-style: normal;
  padding-bottom: 15px;
}
.footer .navigation,
.footer .social-list {
  float: none;
  margin-bottom: 20px;
}
.footer .social-list {
  font-size: 72px;
  font-weight: normal;
  color: #eee;
  text-transform: uppercase;
  margin: 0 5px;
}
