/*
** Base
** -----------------------------------------------------------------------------
*/

body {
  font-size: 16px;
  line-height: 1.50;
  color: #fff;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1 {
  font-family: 2em 'Montserrat', sans-serif;
  font-size: 72px;
}

/*
** Banner section
** -----------------------------------------------------------------------------
*/

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s
}

.sidenav a:hover,
.offcanvas a:focus {
  color: #f1f1f1;
}

.closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px !important;
  margin-left: 50px;
}

#banner {
  width: 100%;
  min-height: 666px;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: radial-gradient(rgba(0, 0, 0, 0.42), rgba(0, 0, 0, 0.42)), url("../images/menu-bg.jpg");
}

.menu-bars-icon {
  color: #eee;
  font-size: 42px;
}

.btn {
  color: #eee;
  background-color: #01babc;
  width: 242px;
  border-radius: 42px;
  text-align: center;
}

.btn:hover {
  color: #ddd;
  background-color: #80dcdd;
}

.logo {
  width: 242px;
  height: auto;
  margin-top: 21px;
}

/*
** Carte (food menu) section
** -----------------------------------------------------------------------------
*/

#carte {
  margin-top: 21px;
}

#carte h2 {
  color: #01babc;
  font-size: 48px;
  font-family: 'Satisfy', sans-serif;
  font-weight: 300;
}

#carte p {
  color: #222;
  font-size: 32px;
  font-family: 'PT Sans', sans-serif;
}

#menu-filters ul li a.active {
  background: #01babc;
  color: #fff;
  border: 1px solid #01babc;
}

#menu-flters ul li a:hover {
  background: #99e3e4;
  color: #fff;
  border: 1px solid #01babc;
}

#menu-filters ul li {
  display: inline-block;
  color: #fff;
  text-transform: capitalize;
  letter-spacing: 1px;
  margin-bottom: 40px;
}

#menu-filters ul li a {
  padding: 10px 20px;
  font-size: 14px;
  color: #01babc;
  border-radius: 0px;
  border: 1px solid #01babc;
  text-decoration: none;
  cursor: pointer;
}

.menu-item {
  width: 100%;
  float: left;
  padding: 15px;
  position: relative;
}

.menu-item .menu-title {
  float: left;
  font-family: Montserrat, arial;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #222;
}

.menu-item .menu-line {
  position: absolute;
  bottom: 6px;
  border-bottom: 1px dotted rgba(0, 0, 0, .3);
  margin-left: .6rem;
  margin-right: .6rem;
  left: 360px;
  right: 24px
}

.menu-item .menu-price {
  font-weight: 500;
  position: absolute;
  right: 0;
  top: 0;
  color: #006f70;
}

.menu-item .menu-subtitle {
  display: block;
  float: left;
  color: #666;
  font-family: Satisfy, 'Open Sans', arial;
  font-size: 1.2rem;
}

.menu-item span.clearfix {
  position: relative;
  display: block;
}

/*
** Slideshow section
** -----------------------------------------------------------------------------
*/

#slideshow {
  margin: 50px auto;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: block;
}

/*
** FAQ section
** -----------------------------------------------------------------------------
*/

#faq {
  margin-top: 21px;
}

#faq h2 {
  color: #01babc;
  font-size: 48px;
  font-family: 'Satisfy', sans-serif;
  font-weight: 300;
}

#faq p {
  color: #222;
  font-size: 32px;
  font-family: 'PT Sans', sans-serif;
}

/*
** Footer section
** -----------------------------------------------------------------------------
*/

.footer {
  width: 100%;
  background-color: #222;
  position: relative;
  z-index: 1;
}

.footer a {
  color: #eee;
}

.footer .footer-top {
  padding-top: 9rem;
  padding-bottom: 5rem;
}

.footer .widget-title,
.footer .widget-title a {
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  color: #999;
}

.footer .widget-title {
  margin-bottom: -10px;
  font-family: 'Satisfy', sans-serif;
  font-size: 42px;
  color: #eee;
}

.footer .widget a {
  text-decoration: none;
  color: #eee;
}

.footer .widget a:hover {
  text-decoration: none;
  color: #80dcdd;
}

.footer .widget,
.footer address {
  color: #999;
  text-transform: none;
  font-style: normal;
  padding-bottom: 15px;
}

.footer .navigation,
.footer .social-list {
  float: none;
  margin-bottom: 20px;
}

.footer .social-list {
  font-size: 72px;
  font-weight: normal;
  color: #eee;
  text-transform: uppercase;
  margin: 0 5px;
}
